// .container {
//   nav {

//     .logo {
//       width: 50% !important;
//     }

//     ul {
//       .nav-item {
//         .nav-link {
//           color: black !important;
//         }
//       }
//     }
//   }
// }

nav{
  position: fixed !important;
  top: 0;
  z-index: 1000;
  width: 100%;
}
