<!-- navbar bootstrap -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" routerLink="/">
        <img
          class="img-logo"
          src="../../../../assets/almatar_en-logo-nav.png"
          alt="loogo"
      /></a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto ps-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Hotels</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Flights</a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center">
        <li class="nav-item" (click)="islanguag = !islanguag">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <span *ngIf="islanguag">العربيه </span>

            <span *ngIf="!islanguag">English</span> <span> </span
          ></a>
        </li>

        <li class="nav-item">
          <p-dropdown
            [options]="cities"
            [(ngModel)]="selectedCity3"
            optionLabel="name"
          ></p-dropdown>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">sign In </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-nav btn" aria-current="page" routerLink="/"
            >sign Up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
