<footer>
  <!-- start footer up   -->
  <section>
    <div class="app-store">
      <div class="container">
        <div class="row">
          <div class="offset-lg-2 col-lg-3 col-12">
            <img src="../../../../assets/phones-footer.png" alt="phones" />
          </div>
          <div class="col-lg-6 col-12 offset-lg-1 content-app">
            <h2>DOWNLOAD ALMATAR APP & GET THE LATEST OFFERS</h2>
            <h3>
              Download almatar app now for easier hotel & flights bookings.
              Enjoy the best booking experience.
            </h3>
            <div class="social-links">
              <a href="">
                <img src="../../../../assets/google_play.png" alt="" />
              </a>
              <a href="">
                <img src="../../../../assets/ios_store.png" alt="" />
              </a>
              <a href="">
                <img src="../../../../assets/google_play.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- start footer down   -->
  <!-- Beginning at the bottom of the footer to split the layout -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-7">
          <h2>Almatar</h2>
          <div class="row">
            <div class="col-lg-4"></div>
            -4
          </div>
        </div>
        <div class="col-lg-3 col-sm-5"></div>
        <div class="col-lg-4 col-sm-6"></div>
      </div>
    </div>
  </section>
</footer>
