ul {
  list-style: none;
  font-size: 0.8em;
  padding: none;
  a {
    text-decoration: none;
    color: white;
  }
}

// start footer
.app-store {
  background: linear-gradient(45deg, #543cd0 0, #ae459c 99%);
  padding-top: 2em;
  .content-app {
    color: white;
    .social-links {
      a {
        img {
          width: 130px;
        }
      }
    }
  }
}
// end footer
