<footer>
  <div class="container">
    <div class="row">
      <!-- secure -->
      <div class="col-lg-4 col-12 secures">
        <a href="" class="logo-footer"
          ><img src="../../../../assets/logo.png" alt="logo" class="logo"
        /></a>
        <div class="secure">
          <a href="" class="bg-transparent"
            ><img src="../../../../assets/seal_image-footer .png" alt=""
          /></a>
          <a href=""
            ><img src="../../../../assets/logo-norton-1631698616.png" alt=""
          /></a>
          <a href=""
            ><img src="../../../../assets/logo-pci-footer.svg" alt=""
          /></a>
        </div>

        <div class="title">
          <h3>Payment Partners</h3>
          <div>
            <a href=""
              ><img
                src="../../../../assets/logo-paypal-1630121055.svg"
                alt="paypal"
            /></a>
            <a href=""
              ><img
                src="../../../../assets/logo-master-1629962866.svg"
                alt="master"
            /></a>
            <a href=""
              ><img
                src="../../../../assets/logo-visa-1629962867.svg"
                alt="visa"
              /><img
                src="../../../../assets/logo-amex-1629962866.svg"
                alt="amex"
              />
            </a>
            <a href="">
              <img
                src="../../../../assets/logo-jcb-1629963318.png"
                alt="logo-jcb"
            /></a>
          </div>
        </div>
      </div>

      <!-- follow -->
      <div class="col-md-2 col-6 footer-ul">
        <h3>about us</h3>
        <ul class="footer-nav-info">
          <li><a href="">about us</a></li>

          <li><a href="">Mission/Vision</a></li>
        </ul>
        <h3>follow us on</h3>
        <ul class="follow">
          <li>
            <a href=""><i class="fab fa-facebook"></i>facebook</a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i>instagram</a>
          </li>
          <li>
            <a href=""><i class="fab fa-linkedin"></i>linkedin</a>
          </li>
          <a href=""><i class="fab fa-google"></i>google</a>
          <li></li>
        </ul>
      </div>

      <!-- help -->
      <div class="col-md-3 col-6 footer-ul">
        <h3>help</h3>
        <ul class="footer-nav-info">
          <li><a href="">Payment Guidelines</a></li>
          <li><a href="">Booking Process</a></li>
          <li><a href="">FAQss</a></li>
          <li><a href="">contact us</a></li>
        </ul>
        <h3>GET TRAVELNER FREE APP</h3>
        <ul class="follow">
          <li>
            <a href=""
              ><img
                src="../../../../assets/icon-ios-1631694803.svg"
                alt="App store"
                class="w-80 py-2"
            /></a>
          </li>
          <li>
            <a href=""
              ><img
                src="../../../../assets/icon-android-1631694803.svg"
                alt="android"
                class="w-80"
            /></a>
          </li>
        </ul>
      </div>

      <!-- term of  -->
      <div class="col-md-2 col-6 footer-ul">
        <h3>term of use</h3>
        <ul class="footer-nav-info">
          <li><a href="">Price Match Promise</a></li>

          <li><a href="">Disclaimer</a></li>
          <li><a href="">Terms & Conditions</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Our Service Fees</a></li>
          <li>
            <a href="">Refund Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
